* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.1s ease-in-out;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center the content */
  justify-content: center; /* vertically center the content */
  height: 100vh; /* make the container fill the entire viewport height */
}

.hidden {
  display: none;
}

#gameScreen {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#gameScreen {
  display: none;
}

#endScreen {
  display: none;
}

.clrBox {
  width: 125px;
  height: 125px;
  border: 1px dashed black;
  border-radius: 7px;
  margin: 3px;
  transition: background-color 0.5s ease;
}

.clrBoxes:hover {
  margin-top: -3px;
  margin-left: -1px;
}

#targetClr {
  margin-top: 20px;
  border: 1px solid black;
}

#gridClrs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 7px;
  margin-bottom: 20px;
}

.diffbtns {
  width: 100px;
  height: 40px;
  border: 1px dashed black;
  border-radius: 5px;
  margin: 4px;
  transition: 0.1s ease-out;
}

.diffbtns:hover {
  width: 120px;
  height: 50px;
  border: 2px dashed black;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  #gridClrs {
    grid-template-columns: repeat(6, 1fr);
  }

  .clrBox {
    width: 80px;
    height: 80px;
    margin: 2px;
  }
}

@media screen and (max-width: 768px) {
  #gridClrs {
    grid-template-columns: repeat(5, 1fr);
  }

  .clrBox {
    width: 60px;
    height: 60px;
    margin: 2px;
  }
}

@media screen and (max-width: 576px) {
  #gridClrs {
    grid-template-columns: repeat(5, 1fr);
  }

  .clrBox {
    width: 40px;
    height: 40px;
    margin: 2px;
  }
}

@media screen and (max-width: 400px) {
  #gridClrs {
    grid-template-columns: repeat(5, 1fr);
  }

  .clrBox {
    width: 240px;
    height: 240px;
    margin: 2px;
  }
}